* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body {
  width: 1600px;
}
nav {
  width: 1360px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 16px 0px;
}
nav .logo img {
  width: 139px;
  height: 60px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 32px;
  align-items: center;
}
nav ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}
nav ul li a:hover {
  color: #ff7a00;
}
nav button {
  width: 164px;
  height: 44px;
  background-color: #469165;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
nav button:hover {
  background-color: #36774a;
}

.banner {
  background: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  vertical-align: middle;
  width: 1600px;
  height: 674px;
  margin: auto;
  text-align: center;
  padding-top: 115px;
}
.banner .banner-heading {
  margin: auto;
  width: 229px;
  height: 35px;
}
.banner .banner-heading span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  padding: 8px 12px;
  background-color: #ffffff;
  color: #469165;
  font-size: 16px;
  font-weight: 500;
  gap: 5px;
}
.banner span img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
