* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  width: 1600px;
}
nav {
  width: 1360px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 16px 0px;
}
nav .logo img {
  width: 139px;
  height: 60px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 32px;
  align-items: center;
}
nav ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}
nav ul li a:hover {
  color: #ff7a00;
}
nav button {
  width: 164px;
  height: 44px;
  background-color: #469165;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
nav button:hover {
  background-color: #36774a;
}

.banner {
  background: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  vertical-align: middle;
  width: 1600px;
  height: 674px;
  padding-top: 115px;
}
.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content {
  width: 1360px;
}
.banner .banner-heading {
  margin: auto;
  width: 229px;
  height: 35px;
  font-family: "Inter", sans-serif;
}
.banner .banner-heading span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  padding: 8px 12px;
  background-color: #ffffff;
  color: #469165;
  font-size: 16px;
  font-weight: 500;
  gap: 6px;
}
.banner span img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.banner-main-content {
  width: 770px;
  margin: auto;
}
.banner-main-content h1 {
  margin-top: 16px;
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  color: #ffffff;
  text-align: center;
}
.banner-main-content .color-green {
  color: #30b868;
}
.banner-main-content p {
  margin-top: 16px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
}
.banner-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.banner-button button {
  margin-top: 32px;
  background-color: #469165;
  width: 251px;
  height: 52px;
  padding: 16px 12px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #ffffff;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.banner-button .btn-2 {
  width: 198px;
  height: 52px;
  background-color: transparent;
  border: 2px solid #ffffff;
}
.banner-button button:hover {
  background-color: #36774a;
}
.btn-1 img,
.btn-2 img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
/* notes */
.notes-structure {
  background-color: #f7f6f24f;
}
.notes {
  width: 1360px;
  margin: auto;
}
.notes-intro {
  text-align: center;
  padding-top: 60px;
  background-color: #ffffff;
}
.notes-intro h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 42px;
  color: #001931;
}
.notes-intro p {
  padding-top: 16px;
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}

.notes-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  gap: 20px;
}
.card {
  box-shadow: 0px 0px 8px 0px #0000001a;
  width: 322px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.notes-cards .card span {
  width: 60px;
  height: 60px;
  background-color: #f95555;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.notes-cards .card span img {
  width: 32px;
  height: 32px;
}
.notes-cards .card h2 {
  font-size: 24px;
  font-weight: 600;
  padding-top: 16px;
  color: #001931;
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
}
.notes-cards .card p {
  font-size: 16px;
  line-height: 20px;
  padding-top: 16px;
  color: #627382;
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
}
/* solution section  */

.solution {
  width: 1360px;
  display: flex;
  padding: 120px;
  gap: 60px;
  align-items: center;
}

.solution-container {
  width: 700px;
  height: 396px;
}
.solution-container h6 {
  font-size: 16px;
  line-height: 20px;
  color: #469165;
  margin-bottom: 16px;
}
.solution-container h1 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  white-space: nowrap;
  margin-bottom: 16px;
}
.solution-container p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}
.solution-container li {
  list-style: none;
  display: inline-flex;
  gap: 6px;
  margin-bottom: 16px;
}
.solution-container li img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

/* join now section */

.join-now {
  width: 1360px;
  height: 384px;
  background-color: #f7f6f2;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 120px auto;
}
.join-now .join-now-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.join-now .join-now-content h1 {
  text-align: center;
  color: #001931;
  font-size: 40px;
  font-weight: bold;
}
.join-now .join-now-content p {
  text-align: center;
  color: #627382;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
}
.join-now-button-section {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.join-now-button-section button {
  background-color: #469165;
  width: 194px;
  height: 52px;
  padding: 16px 12px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #ffffff;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.join-now-button-section button img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  color: #ffffff;
}
.join-now-button-section button:hover {
  background-color: #36774a;
}
.join-now-button-section p {
  margin-top: 16px;
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}

/* footer */

footer {
  width: 1600px;
  background-color: #001931;
}

footer .logo-social {
  width: 1360px;
  height: 198px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 80px;
}
footer .logo-social .social h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 14px;
}
footer .logo-social .social a {
  padding-right: 17px;
}
footer .logo-social .social a img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #ffffff;
}
footer hr {
  width: 1360px;
  margin: auto;
  height: 1px;
  border: 1px solid #66666672;
}

footer p {
  width: 1360px;
  margin: auto;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 30px 0px;
}
.social a :hover {
  opacity: 0.7;
}
